# Python files
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Databases
*.db
ocr_history.db

# Node
node_modules/
dist/
.eslintcache

# OS
.DS_Store
Thumbs.db
.antigravitycli